.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
.calculator-container {
    width: 90%;
    display: flex;
    justify-content: space-between; /* Распределение пространства между элементами */
}

.slider-containers {
    display: flex;
    flex-direction: column; /* Столбцовая ориентация для слайдеров */
}

.result-container {
    padding: 20px;
    background-color: #eff2f5;
    text-align: right;
    width: 50%;
}

.calculator-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

