.calculator-container {
    width: 30%; /* Установите желаемую ширину контейнера калькулятора */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
}

.slider-container {
    margin-bottom: 20px; /* Добавим отступ снизу между ползунками */
}

.slider {
    -webkit-appearance: none;
    width: 100%; /* Ширина ползунка будет автоматически адаптироваться к ширине контейнера */
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e25946;
    cursor: pointer;
}



.slider-labels-small {
    color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: space-between;
}